/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.sidebar > .sidebar-links > li:not(:first-child)
  margin-top 0 !important

a
  color #77A7C2
  font-weight 400

a:hover 
  color #0056b3
  text-decoration underline

a.header-anchor
  color #E83524

.go-to-top
  color #282c34 !important

h1#getting-started
  display none

.getting-started-spacer
  margin-top 3.6rem